<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrJwLvQ7OgogCHWqR7sw5hPjEIP4Go4RQ</string>
	<key>GCM_SENDER_ID</key>
	<string>795928470799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blac.enterprises</string>
	<key>PROJECT_ID</key>
	<string>todolist-8b95e</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-8b95e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795928470799:ios:0639a8b87eacbacf9d8a7a</string>
</dict>
</plist>